
.loginDesign {

    height: 90vh;
    width: 100vw;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: beige;

}



.buttonDesign {

    height: 3.4em;
    width: 7.8em;
    background-color: orange;
    color: white;

    border-radius: 1em;

    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.2s;
    cursor: pointer;
}

.buttonDesign:hover {

    background-color: darkorange;
    transition: 0.2s;
}